:root {
    --text: #17252A;
   --background: #FEFFFF;
   --primary: #3aafa9;
   --secondary: #def2f1;
   --accent: #2b7a78;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secondary);
    border-bottom: 3px solid var(--accent);
}

.logo-circle {
    width: 60px;
    height: 60px;
    background-color: var(--primary);
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 15px;
    display: flex;
}

.site-title {
    font-size: 1.8rem;
}

nav {
    background-color: var(--accent);

}

nav ul {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a:hover  {
    opacity:0.8;
}

nav a.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

main{
    max-width: 1100px;
    margin: 20px auto;
    padding: 10px;
}

.cover-image img {
    width: 100%;
    border-radius: 10px;
}

.card {
    background-color: var(--secondary);
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}

.grid-2 .card {
    background-color: var(--secondary);
}

footer {
    text-align: center;
    background-color: var(--accent);
    color: white;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: underline;
}